@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #024959;
}

a {

    text-decoration: none;
    color: inherit;


}

nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #012E40;
    padding: 20px 0;
}

nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    color: #F2E3D5;

}

nav ul li {
    transition: 600ms;


}

nav ul li:hover {
    transform: scale(1.1);
    letter-spacing: 2px;
    text-align: center;
    transition: 600ms;

}


h1 {

    color: #F2E3D5;
    font-size: 3rem;
    margin: 20px 0;
}

details {

    background-color: #012E40;
    width: 80%;
    border-radius: 6px;
    padding: 8px 16px;
    margin-bottom: 10px;
}

details summary {
    font-size: 2rem;
    color: #F2E3D5;
    font-weight: 400;

}